* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;


}

/* CSS OF HEADER */
body {
    /* background-color: rgb(57, 148, 201) */
}

header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lavender;
 

}

.container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -60px;
    gap: 30px;
    right: 20px;
    color: white;
    /* float: left; */

}

.icon {
    width: 75px;
    border-radius: 50px;
    margin-top: -20px;
    margin-left: 10px;

}

ul {
    list-style: none;
}

.itemContent {

    position: relative;
    top: 5px;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 500;
    font-style: normal;


}

.smallIcon {
    /* display: inline; */
    /* color: white; */
    font-size: 25px;
}

.item {
    display: flex;
    gap: 10px;

}

a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: black;
}

:hover.item {
    background-color: rgb(215, 222, 227);
    border-radius: 10px;
    font-size: larger;
    padding: 5px;
    transition: all .2s;
}


.menuIcon {
    visibility: hidden;
}

.cross {
    visibility: hidden;
}

.firstHr{
    /* margin-top: 50px; */
   text-decoration: dotted;
}

/* Second Part Start */
/* CSS for Second Part */

.mainContainer {
    display: flex;
    width: 80vw;
    border-radius: 50px;
    margin: 100px 50px 50px 100px;
    gap: 50px;
    margin-top: 250px;

}

.pic {
    padding: 50px;
    border-radius: 100%;
    width: 350px;
}

.aboutMe {

    padding: 50px;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 500;
    font-style: normal;

}

.btn_1 {

    width: 150px;
    height: 50px;
    color: white;
    background-color: rgb(16, 20, 237);
    border: 2px solid rgb(16, 20, 237);
    border-radius: 50px;
    font-size: 15px;
    margin-top: 25px;


}

.name {

    font-size: 80px;
    color: rgba(160, 50, 233, 0.458);
    

}

/* .designation {
    font-size: 45px;
    padding: 10px;
    margin-top: 30px;
} */
.designation{
    font-size: 25px;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .1em;
    /* border-right: .1em solid orange; */
    animation-name: typing;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
@keyframes typing {

    from{width: 0%}
    to{width: 97%}
    
}

/* Sencond Part end */

.eduConatiner{
    box-shadow: inset 5px 5px 15px 10px rgb(227, 70, 70);
}

.mainContainer{
    box-shadow: inset 5px 5px 15px 10px rgb(100, 231, 100);
}

/* Educational Qualification */


.eduConatiner {

    display: flex;
    width: 80vw;
    border-radius: 50px;
    margin: 100px 50px 50px 100px;
    gap: 50px;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.imgEdu {
    width: 50px;
    border-radius: 50px;
    position: relative;
    left: -70px;
    top: -90px;

}

.introedu {
    margin-top: 10px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.edu {
    margin-top: 25px;
    margin-left: 25px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.eduName {
    margin-top: 10px;
    color: brown;
    font-size: 30px;
}

.aboutEdu {
    width: 50%;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.read {
    color: rgb(230, 129, 13);
    text-decoration: underline;

}

.mainedu {
    margin-left: 100px;
}

:hover.mainContainer {
    box-shadow: 5px 5px 150px 10px red;
    transition: all .4s;
}

:hover.eduConatiner {
    box-shadow: 5px 5px 150px 10px rgb(0, 255, 123);
    transition: all .4s;
}

@media only screen and (width<1000px) {
    .container {
        display: inline;
        position: relative;
        float: right;
        top: 70px;
        margin-right: -50px;
        background-color: aliceblue;
        border-radius: 50px;
        visibility: hidden;

    }

    .itemContent {
        position: absolute;
        visibility: hidden;
    }

    .smallIcon {
        padding: 20px;
        color: black;
        font-size: 30px;
        border-bottom: 2px dotted black;
    }

    :hover.item {
        background-color: rgb(188, 210, 223);
        border-radius: 50px;
        /* font-size:larger; */
        /* padding: 5px; */
        transition: all .5s;
    }

    .menuIcon {
        visibility: visible;
        font-size: 35px;
        position: relative;
        top: 10px;
        float: right;
        margin-right: 10px;
    }

    .crossIcon {
        visibility: visible;
        font-size: 35px;
        position: relative;
        top: 10px;
        float: right;
        margin-right: 10px;
        margin-right: -30px;
        visibility: hidden;

    }

    .icon {
        margin-top: 10px;
    }

    .mainContainer {
        display: flex;
        flex-wrap: wrap;
        width: 70vw;
        border-radius: 50px;
        
    }

    .pic {
        width: 300px;
        height: 300px;
        padding-left: 50px;
    }

   

    .name {
        font-size: 50px;
    }

    .aboutMe {
        margin-top: -100px;
    }

    /* EDU QUAL */
    .imgEdu {
        visibility: hidden;

    }

    .eduConatiner {

        display: flex;
        flex-wrap: wrap;
        width: 70vw;
        border-radius: 50px;
        margin: 100px 50px 50px 100px;
        gap: 50px;
        font-family: "Balsamiq Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .edu {
        margin-top: 25px;
        margin-left: 125px;
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .introedu {
        margin-top: 10px;
        margin-left: 150px;
        width: 150px;
        height: 150px;
        border-radius: 100%;
    }

    .aboutEdu {
        width: 50%;
        font-family: "Balsamiq Sans", sans-serif;
        font-weight: 100;
        font-style: normal;
        margin-left: 10px;
    }

    .eduName {
        margin-left: 10px;
    }

    :hover.mainContainer {
        box-shadow: 5px 5px 50px 5px red;
        transition: all .4s;
    }

    :hover.eduConatiner {
        box-shadow: 5px 5px 50px 5px rgb(0, 255, 123);
        transition: all .4s;
    }



}

@media only screen and (width<500px) {


    .pic {
        width: 250px;
        margin-left: -40px;
    }

    .name {
        /* margin-top: -50px; */
        font-size: 35px;
    }

    .designation {
        font-size: 15px;
    }

    .btn_1 {
        margin-left: -10px;
        width: 75px;
        font-size: 10px;
        border-radius: 10;
    }

    .aboutMe {
        margin-top: -100px;
    }

    .introedu {
        width: 150px;
        height: 150px;
        margin-left: 50px;
    }

    .edu {
        margin-left: 10px;
        margin-right: 20px;
    }

    .aboutEdu {
        margin-left: -40px;
        width: 100%;
        /* margin-right: 20px; */
    }

    .eduName {
        font-size: 15px;
        margin-left: -60px;
    }

    .eduConatiner,
    .mainContainer {
        margin-left: 60px;
    }
}

@media only screen and (width<250px) {

    .introedu {
        margin-left: 10px;
    }

    .name {
        font-size: 20px;
    }
    .aboutEdu{
        width: fit-content;
    }
}

:hover.mainContainer {
    animation-name: new;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

:hover.eduConatiner {

    animation-name: new;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes new {

    from {
        transform: translateY(60px) translateZ(50px) scale(0.8);
    }

        {}
}