* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* CSS OF HEADER */
body {
    /* background-color: rgb(57, 148, 201) */
}
body {
    overflow-x: hidden;
    overflow-x: clip !important;
  }
header {
    position: sticky;
    /* width: 120%; */
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: lavender;
    z-index: 1;
}

.container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -60px;
    gap: 30px;
    right: 20px;
    color: white;
    /* float: left; */

}

.icon {
    width: 75px;
    border-radius: 50px;
    margin-top: -20px;
    margin-left: 10px;

}

ul {
    list-style: none;
}

.itemContent {

    position: relative;
    top: 5px;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 500;
    font-style: normal;


}

.smallIcon {
    /* display: inline; */
    /* color: white; */
    font-size: 25px;
}

.item {
    display: flex;
    gap: 10px;

}

a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: black;
}

:hover.item {
    background-color: rgb(215, 222, 227);
    border-radius: 10px;
    font-size: larger;
    padding: 5px;
    transition: all .2s;
}


.menuIcon {
    visibility: hidden;
}

.cross {
    visibility: hidden;
}

.firstHr {
    /* margin-top: 50px; */
    text-decoration: dotted;
}

/* Second Part Start */
/* CSS for Second Part */

.mainContainer {
    display: flex;
    width: 80vw;
    border-radius: 50px;
    margin: 0px 50px 50px 100px;
    /* margin-top: -1000px; */
    gap: 50px;
    margin-top: 50px;

}

.pic {
    padding: 50px;
    border-radius: 100%;
    width: 350px;
}

.aboutMe {

    padding: 50px;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 500;
    font-style: normal;

}

.btn_1 {

    width: 150px;
    height: 50px;
    color: white;
    background-color: rgb(16, 20, 237);
    border: 2px solid rgb(16, 20, 237);
    border-radius: 50px;
    font-size: 15px;
    margin-top: 25px;


}

.name {

    font-size: 80px;
    color: rgba(160, 50, 233, 0.458);


}

.namecolor {
    color: gold;
    font-weight: bolder;

}


/* .designation {
    font-size: 45px;
    padding: 10px;
    margin-top: 30px;
} */
.designation {
    font-size: 25px;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .1em;
    /* border-right: .1em solid orange; */
    animation-name: typing;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes typing {

    from {
        width: 0%
    }

    to {
        width: 97%
    }

}

/* Sencond Part end */

.eduConatiner {
    box-shadow: inset 5px 5px 15px 10px rgb(227, 70, 70);
}

.mainContainer {
    box-shadow: inset 5px 5px 15px 10px rgb(100, 231, 100);
}

/* Educational Qualification */


.eduConatiner {

    display: flex;
    width: 80vw;
    border-radius: 50px;
    margin: 100px 50px 50px 100px;
    gap: 50px;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.imgEdu {
    width: 50px;
    border-radius: 50px;
    position: relative;
    left: -70px;
    top: -90px;

}

.introedu {
    margin-top: 10px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.edu {
    margin-top: 25px;
    margin-left: 25px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.eduName {
    margin-top: 10px;
    color: brown;
    font-size: 30px;
}

.aboutEdu {
    width: 50%;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.read {
    color: rgb(230, 129, 13);
    text-decoration: underline;

}

.mainedu {
    margin-left: 100px;
}

/* EDUCATION SECTION END HERE */

/* EXTRA CSS FOR BOTH */

:hover.mainContainer {
    box-shadow: 5px 5px 150px 10px red;
    transition: all .4s;
}

:hover.mainContainer .namecolor {
    text-decoration: underline;
    /* text-transform:uppercase; */
}

:hover.eduConatiner {
    box-shadow: 5px 5px 150px 10px rgb(0, 255, 123);
    transition: all .4s;
}

.eduHr {
    width: 80%;
}

:hover.mainContainer {
    animation-name: new;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

:hover.eduConatiner {

    animation-name: new;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes new {

    from {
        transform: translateY(60px) translateZ(50px) scale(0.8);
    }

}

/* HERE PROJECT SECTION START */


.projectContainer {
    margin-top: 50px;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    background-color: rgb(158, 158, 243);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px lavender;
}

.ProjectIntro {
    text-decoration: underline;
}

.paytmvdo,
.Netflixvdo,
.domvdo {
    width: 450px;
    height: 250px;
    margin-top: 50px;
    border-radius: 40px;
    box-shadow: 5px 5px 50px 5px lavender;
}



.PaytmProject,
.NetflixProject,
.domProject {
    display: flex;
    gap: 50px;
}

.aboutpaytmProject,
.aboutNetflixProject,
.aboutdomProject {
    border: 2px solid red;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    padding: 15px;
    margin-top: 50px;
    border-radius: 50px;
    box-shadow: 5px 5px 50px 50px lavender;

}

.firstprojecthr {
    margin: 50px 10px;
    /* width: 100vw; */
    padding: 0px;
    margin-left: 0px;
    border: 2px solid black;
}

/* Project Section Done */

/* Skiils Section Start Here */

.skillContainer{
    margin-top: 100px;
    padding: 50px;
    background-color: rgb(18, 22, 75);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(146, 85, 212, 0.325);
    transform: translateX(10px);
    color: white;
}
.skillIntro {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 150px;
    text-decoration: underline;

}

.allSkills{
   display: flex;
   gap: 10px;
}
.diffSkills{
    margin-top: 50px;
    border: 2px solid blue;
    padding: 10px;
    width:25%;
    border-radius: 10px;
}
.skillIcon{
    font-size: 100px;
    color: white;
}
.htmlIcon{
    color: red;
}
.cssIcon{
   color: blue;
   /* background-color: white; */
}
.jsIcon{
    /* background-color: black; */
    color: yellow;
}
.skillDefi{
    font-size: 45px;
    /* font-family: "Kalam", cursive; */
    font-weight: 400;
    font-style: normal;
}
.cicon{
    width: 100px;
}
:hover.diffSkills{
    background-color: rgb(198, 205, 245);
    transform: translateY(-25px);
    color: black;
    box-shadow: 5px 5px 5px 5px rgb(88, 62, 203);
}
.aboutDissskils{
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style:normal;
  margin-top:50px;

}

/*  REACH TO US*/
.contactus{
    margin-top: 50px;
    background-color: blue;
    color: white;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.contactusConatiner{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding: 50px;
}
.reachbtn{
    border: 2px solid white;
    border-radius: 100px;
    width: 150px;
    height: 50px;
    font-size: 25px;
    color: white;
    background-color: blue;

}
.reach{
    font-size: 50px;
}
:hover.reachbtn
{
    background-color: white;
    color: blue;
    border: 2px solid blue;
}
/* Main Footer */

.mainContact{
   
    background-color: black;
    color: white;
    display: flex;
    gap: 100px;
    justify-content: space-around;
    padding: 50px 0px 0px 50px;

}
.lastName{
    padding: 50px;
}
.lasticon{
    width: 150px;
    border-radius: 100%;
}

.menuLastitem,.lastSocial{
    color: white;
}
.lasticonimg{
 font-size: 50px;
 padding: 20px;
}
.menuLastitem{
    padding: 15px;
    font-size: 25px;

}
.lastMenu{
    padding-top: 50px;
}
.social{
    padding-top: 50px;
}

.lastmyName{
    font-size: 50px;
}
.lastdes{
    font-size: 25px;
}

:hover.menuLastitem{
    text-decoration: underline;
}
:hover.lastSocial{
    transform: translateY(20px);
    transform: scale(1.5);

}
.copy{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 25px;
}




/* MODE CSS */

.mode
{
    font-size:30px;
    
    color: black;
}
.modeoff
{
    position: absolute;

}
.modeon{
    visibility: hidden;
}
